<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/valmir-de-lima/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="valmir-de-lima" />
      <add key="ClearTextPassword" value="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"/>
    </github>
  </packageSourceCredentials>
</configuration>